<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <property name="LOG_FILE">$${env:HOME}/logs/bear_log4j.log</property>
        <property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %L %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <!--
                <File name="AppFile" fileName="${LOG_FILE}">
                    <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                </File>
                <Async name="Async">
                    <AppenderRef ref="AppFile"/>
                </Async>
        -->


        <TacRollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_FILE}"
                                    filePattern="${LOG_FILE}.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </TacRollingRandomAccessFile>
    </Appenders>


    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        // AsyncLogger
        <Logger name="com.taobao.brand" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingRandomAccessFile"/>
        </Logger>

    </Loggers>
</Configuration>