<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="com.taobao.brand.log4j2ext">


    <Properties>
        <property name="LOG_FILE">$${env:HOME}/logs/bear_log4j.log</property>
        <property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %L %msg %X{traceId} %n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>


        <TacThreadLocalAppender name="TacThreadLocalAppender">
            <PatternLayout pattern="${pattern}"/>
        </TacThreadLocalAppender>


        <TacRollingFile name="APPLICATION" fileName="${LOG_FILE}" filePattern="${LOG_FILE}.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${pattern}"/>
            <TimeBasedTriggeringPolicy/>
        </TacRollingFile>
    </Appenders>


    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>


        <!--AsyncLogger-->
        <!--TacAsyncLogger-->
        <!--  <TacAsyncLogger name="com.taobao.brand" level="info" additivity="true" includeLocation="true">
              <AppenderRef ref="Console"/>
              <AppenderRef ref="TacRollingRandomAccessFile"/>
          </TacAsyncLogger>-->

        <TacAsyncLogger name="com.taobao" level="info" additivity="false" includeLocation="false">
            <TraceFilter/>
            <AppenderRef ref="APPLICATION"/>

        </TacAsyncLogger>


    </Loggers>
</Configuration>